@font-face {
  font-family: kalam;
  src: url(./Kalam-Bold.ttf);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aqua;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


header {


  height: 150px;
  background-image: url(./The_logo_simpsons_yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-color: aqua;
  
}

h1 {
 margin: 0;
 opacity: 0;
}

header p {
  color: red;
  padding-top: 40px;
  font-size: 2em;
  font-weight: 800;
  font-family: kalam;
  text-shadow: 3px 3px 2px #000;
}
.outer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.flexy {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.off {
  opacity: 0;
}

.text {
  display: block;
  width: 40%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 2px #bbb;
  border-radius: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;

}

img {
  display: block;
  max-height: 300px;
  max-width: 300px;
  margin: 0 50px;
}

h2.names {
  font-family: kalam;
  color: red;
  margin: 0;
}

ul {
  list-style: none;
}

.likes {
  font-family: kalam;

}

.scores {

}