@font-face {
  font-family: kalam;
  src: url(./Kalam-Bold.ttf);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aqua;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


header {


  height: 200px;
  background-image: url(./The_logo_simpsons_yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-color: aqua;
  
}

h1 {
 margin: 0;
 opacity: 0;
}

header p {
  color: red;
  padding-top: 60px;
  font-size: 3em;
  font-weight: 800;
  font-family: kalam;
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: block;
  width: 40%;
  padding: 20px;
  background-color: #ddd;
  box-shadow: 0 0 20px 2px #bbb;
  border-radius: 20px;

}

img {
  display: block;
  max-height: 300px;
  margin: 0 50px;
}