
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4em;
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: block;
  width: 40%;
  padding: 20px;
  background-color: #ccf;
  box-shadow: 0 0 20px 2px #ccf;
  border-radius: 10px;
}

img {
  display: block;
  max-height: 300px;
  margin: 0 50px;
}